<img
  id="index-bg"
  src="/images/spotify-background.jpeg"
  alt="Home Page Background Image"
/>
<div class="homepage">
  <form action="/artist-search" , method="GET" class="search-form">
    <input type="text" name="artist" />
    <button class="btn" type="submit">Search for an artist</button>
  </form>
</div>
